npm-debug.log
yarn-error.log
node_modules
dist/
size-plugin.json
app/extension-scripts/api/playground/
.env
*.rest
.DS_Store
.vscode

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
